h1 {
  text-align: center;
}

form {
    padding: 100px 200px 0px 200px
}

input:required:invalid {
    border: 2px dashed red;
}

input:required:valid {
    border: 2px solid black;
}

label {
    font-size: 21px;
}

input {
    font-size: 22px;
}

textarea {
    height: 250px;
    width: 100%;
    font-size: 17px;
}

.text-area-title {
    display:block;
}

button {
    font-size: 22px
}

.red-before-validation {
    color: red
}

.success {
    display: flex;
    justify-content: center;
    background: gray;
    color: white;
    visibility: hidden;
}
